body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

input {
    border: none;
    outline: none;
}

button {
    border: none;
    background: none;
    padding: 0;
    display: grid;
    place-items: center;
}

#wholeContainer {
    height: 100vh;
    overflow: hidden;
}

#background.active {
    height: 100vh;
}

#background {
    width: 100%;
    height: 0vh;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 30%),
        linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 30%),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
        var(--bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    display: grid;
    place-items: center;
    overflow: hidden;
    transition: height .5s ease-in-out;
}

.backgroundContainer {
    padding-top: 50px;
}

.searchParent {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}

#searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60vh;
    margin: 0 auto;
    height: 50px;
    border-radius: 100px;
    background-color: white;
    padding: 0 5px 0 30px;
    overflow: hidden;
}

#searchBar {
    width: 90%;
    height: 50px;
    padding: 0;
    border-radius: 100px;
}

.searchResult {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 30px 0;
}

#movieContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    margin: 0 30px;
    overflow: hidden;
    z-index: 0;

}

p,
h3 {
    margin: 0;
}

.movieImageContainer {
    display: flex;
    justify-content: end;
    height: 400px;
    flex: 0 1 35%;
    /* background-color: green; */
}

.movieImage {
    width: 300px;
    height: 100%;
    background-color: red;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.movieDetails {
    flex: 0 1 35%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-height: 400px;
    font-size: 40px;
}
.movieName {
    font-size: 1em;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 30px;
}

.movieDate {
    font-size: 0.5em;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 20px;
}

.movielang {
    font-size: 0.5em;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 20px;
}

.movieRating {
    color: gold;
    margin-bottom: 20px;

    .star.material-symbols-outlined {
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
    }
}

.movieGenreContainer {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.movieGenre {
    /* width: 50px; */
    height: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    /* opacity: 0.2; */
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;

    .genreEmoji {
        font-size: 0.45em;
    }

    .genreName {
        font-size: 0.35em;
        color: white;
    }
}

.movieDescription {
    font-size: 0.35em;
    font-weight: lighter;
    color: #FFFFFF;
    font-style: italic;
    line-height: 20px;
}

#navContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 40px;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.navIndex {
    cursor: pointer;
    padding: 10px;
    display: grid;
    border-radius: 5px;
    place-items: center;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.navIndex.active {
    background-color: white;
    color: black;
    border-radius: 10px;
}

/* Small phones */
@media (max-width: 480px) {
    #navContainer {
        right: 10px;
    }

    .movieDetails {
        max-height: 250px;
    }

    .navIndex {
        font-size: 12px;
        padding: 5px;
    }

    #searchContainer {
        width: 40vh;
        height: 35px;
    }

    .searchResult {
        margin: 15px;
        font-size: 12px;
    }

    .backgroundContainer {
        padding-top: 125px;
    }
    
    .movieDetails {
        font-size: 24px;
    }

    #movieContainer {
        gap: 15px;
        flex-direction: column; 
    }

    .movieImageContainer {
        justify-content: center;
    }

    .movieImage {
        width: 150px;
        height: 200px;
    }

    .movieName {
        margin-bottom: 20px;
        text-align: center;
    }

    .movieDate, .movielang, .movieRating, .movieGenreContainer {
        margin-bottom: 10px;
        text-align: center;
    }

    .movieGenre {
        height: 10px;
        padding: 5px 10px;
        gap: 3px;
        height: 15px;
    }

    .movieGenreContainer {
        justify-content: center;
    }

    .movieDescription {
        text-align: justify;
    }
}

/* Larger phones */
@media (min-width: 481px) and (max-width: 767px) {
    #navContainer {
        right: 20px;
    }
     
    .movieDetails {
        font-size: 28px;
    }

    #movieContainer {
        gap: 20px
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .movieDetails {
        font-size: 32px;
    }

    #movieContainer {
        gap: 50px;
        align-items: center;
    }
}

/* Small desktops */
@media (min-width: 1025px) and (max-width: 1440px) {
    .movieDetails {
        font-size: 40px;
    }
}

/* Large desktops */
/* @media (min-width: 1491px) {
    .movieDetails {
        font-size: 50px;
    }
} */